In [39]:
import matplotlib.pyplot as plt

plt.rcParams["font.sans-serif"] = ["SimHei"]  #设置字体
plt.rcParams["axes.unicode_minus"] = False  #该语句解决图像中的“-”负号的乱码问题
import pandas as pd
import numpy as np

In [40]:
# df = pd.read_csv(r"D:\pycharm-python\datasets\VIIRS中国各县区灯光数据.csv")
df = pd.read_excel(r"D:\documents\VIIRS中国各县区灯光数据.xlsx")
df.head()

  Province Prefecture County  Year Month DNvalue
0     省份名称       城市名称   县区名称    年度    月份    DN均值
1      安徽省        安庆市    大观区  2013    01    2.81
2      安徽省        安庆市    大观区  2013    02    2.06
3      安徽省        安庆市    大观区  2013    03    2.17
4      安徽省        安庆市    大观区  2013    04    2.63

In [41]:
county = np.unique(df['County'])
# len(county)
county

array(['丁青县', '七星关区', '七星区', ..., '龙门县', '龙陵县', '龙马潭区'], dtype=object)

In [42]:
len(county)

2801

In [43]:
df = df.drop([0],axis=0)

In [44]:
df['DNvalue'] = pd.to_numeric(df['DNvalue'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240957 entries, 1 to 240957
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Province    240957 non-null  object
 1   Prefecture  240957 non-null  object
 2   County      240957 non-null  object
 3   Year        240957 non-null  object
 4   Month       240957 non-null  object
 5   DNvalue     240957 non-null  float64
dtypes: float64(1), object(5)
memory usage: 11.0+ MB

In [45]:
new_df = df[(df['Year'] == 2018) | (df['Year'] == '2018') | (df['Year'].astype(np.int32) == 2018)]
# df.head(20)n
new_df

       Province Prefecture County  Year Month  DNvalue
61          安徽省        安庆市    大观区  2018    01     3.26
62          安徽省        安庆市    大观区  2018    02     4.66
63          安徽省        安庆市    大观区  2018    03     4.85
64          安徽省        安庆市    大观区  2018    04     6.08
65          安徽省        安庆市    大观区  2018    05     3.58
...         ...        ...    ...   ...   ...      ...
240939      重庆市          县     忠县  2018    08     1.52
240940      重庆市          县     忠县  2018    09     1.31
240941      重庆市          县     忠县  2018    10     1.52
240942      重庆市          县     忠县  2018    11     2.04
240943      重庆市          县     忠县  2018    12     0.32

[31207 rows x 6 columns]

In [46]:
value = []
for city in county:
    v = np.sum(new_df[new_df['County'] == city].DNvalue)
    value.append(v)

In [47]:
len(value)

2801

In [48]:
d = {
    'County':pd.Series(county),
    '2018_sum':pd.Series(value)
}
df2 = pd.DataFrame(d)
df2.head(30)

     County  2018_sum
0       丁青县     10.82
1      七星关区     45.04
2       七星区     81.26
3      七里河区     41.21
4       万全区     10.75
5       万宁市     15.04
6       万安县      6.90
7       万山区     48.01
8       万州区     25.00
9       万年县     14.21
10     万柏林区    119.79
11      万源市     13.46
12      万秀区     22.88
13      万荣县      6.30
14      万载县     17.95
15      三元区     22.74
16      三原县     12.88
17      三台县     19.17
18      三山区     45.70
19      三水区     58.39
20  三江侗族自治县     10.09
21      三河市     34.60
22      三穗县     24.71
23  三都水族自治县     22.80
24      三门县     20.74
25      上党区     24.58
26      上城区    352.95
27      上思县      9.02
28      上杭县     14.08
29      上林县     11.76

In [49]:
df2.info()
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801 entries, 0 to 2800
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   County    2801 non-null   object
 1   2018_sum  2801 non-null   float64
dtypes: float64(1), object(1)
memory usage: 43.9+ KB

       County  2018_sum
0         丁青县     10.82
1        七星关区     45.04
2         七星区     81.26
3        七里河区     41.21
4         万全区     10.75
...       ...       ...
2796  龙胜各族自治县      8.08
2797      龙里县     32.44
2798      龙门县     12.08
2799      龙陵县      7.93
2800     龙马潭区     55.98

[2801 rows x 2 columns]

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240957 entries, 1 to 240957
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Province    240957 non-null  object
 1   Prefecture  240957 non-null  object
 2   County      240957 non-null  object
 3   Year        240957 non-null  object
 4   Month       240957 non-null  object
 5   DNvalue     240957 non-null  float64
dtypes: float64(1), object(5)
memory usage: 11.0+ MB

In [51]:
li = df.drop(['Year','Month','DNvalue'],axis = 1)
li.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240957 entries, 1 to 240957
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Province    240957 non-null  object
 1   Prefecture  240957 non-null  object
 2   County      240957 non-null  object
dtypes: object(3)
memory usage: 5.5+ MB

In [52]:
li = li.drop_duplicates(subset=['County'])
li.head(20)

     Province Prefecture County
1         安徽省        安庆市    大观区
86        安徽省        安庆市    怀宁县
171       安徽省        安庆市    潜山市
256       安徽省        安庆市    宿松县
341       安徽省        安庆市    太湖县
426       安徽省        安庆市    桐城市
511       安徽省        安庆市    望江县
596       安徽省        安庆市    宜秀区
681       安徽省        安庆市    迎江区
766       安徽省        安庆市    岳西县
851       安徽省        蚌埠市    蚌山区
936       安徽省        蚌埠市    固镇县
1021      安徽省        蚌埠市    怀远县
1106      安徽省        蚌埠市    淮上区
1191      安徽省        蚌埠市   龙子湖区
1276      安徽省        蚌埠市    五河县
1361      安徽省        蚌埠市    禹会区
1446      安徽省        亳州市    利辛县
1531      安徽省        亳州市    蒙城县
1616      安徽省        亳州市    谯城区

In [53]:
df2.head(20)

   County  2018_sum
0     丁青县     10.82
1    七星关区     45.04
2     七星区     81.26
3    七里河区     41.21
4     万全区     10.75
5     万宁市     15.04
6     万安县      6.90
7     万山区     48.01
8     万州区     25.00
9     万年县     14.21
10   万柏林区    119.79
11    万源市     13.46
12    万秀区     22.88
13    万荣县      6.30
14    万载县     17.95
15    三元区     22.74
16    三原县     12.88
17    三台县     19.17
18    三山区     45.70
19    三水区     58.39

In [54]:
# result = pd.concat([li,df2],axis  = 1,join_axes=[df2.County])

In [55]:
# df2.info()

In [56]:
new_df = pd.merge(li,df2,on = ['County'])
new_df

     Province Prefecture      County  2018_sum
0         安徽省        安庆市         大观区     48.23
1         安徽省        安庆市         怀宁县     14.59
2         安徽省        安庆市         潜山市     12.86
3         安徽省        安庆市         宿松县     13.74
4         安徽省        安庆市         太湖县     12.26
...       ...        ...         ...       ...
2795      重庆市          县         巫溪县      9.95
2796      重庆市          县  秀山土家族苗族自治县     39.72
2797      重庆市          县  酉阳土家族苗族自治县     12.69
2798      重庆市          县         云阳县     12.65
2799      重庆市          县          忠县     14.60

[2800 rows x 4 columns]

In [57]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2800 entries, 0 to 2799
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Province    2800 non-null   object
 1   Prefecture  2800 non-null   object
 2   County      2800 non-null   object
 3   2018_sum    2800 non-null   float64
dtypes: float64(1), object(3)
memory usage: 109.4+ KB

In [58]:
citys = np.unique(new_df['Prefecture'])

In [59]:
values = []
for city in citys:
    # if city != '市辖区':
    v = np.sum(new_df[(new_df['Prefecture'] == city)]['2018_sum'])
    # else:

    values.append(v)

In [60]:
values

[79.00999999999999,
 15.040000000000001,
 25.000000000000004,
 136.44,
 179.56,
 153.25,
 197.39999999999998,
 166.53999999999996,
 381.47,
 26.5,
 147.9,
 38.06,
 204.58999999999997,
 106.98999999999998,
 198.12,
 629.15,
 81.94,
 15.6,
 60.66999999999999,
 182.94,
 70.78999999999999,
 122.84,
 77.72,
 650.77,
 17.259999999999998,
 219.77999999999997,
 378.2,
 84.67,
 66.55,
 10.82,
 85.66999999999999,
 117.16000000000001,
 199.85,
 547.7,
 236.68,
 6.84,
 503.52000000000004,
 46.46,
 128.55,
 91.89,
 171.61,
 143.25,
 107.74000000000001,
 594.22,
 59.050000000000004,
 98.65,
 179.02,
 194.82,
 222.21,
 41.22,
 85.39999999999999,
 123.15,
 1542.7600000000002,
 428.34000000000003,
 408.23,
 124.05000000000001,
 18.05,
 171.32,
 447.95000000000005,
 1078.3999999999999,
 609.48,
 143.82999999999998,
 77.19,
 1613.0499999999997,
 201.73999999999998,
 349.2900000000001,
 515.13,
 26.139999999999997,
 856.3599999999999,
 261.03999999999996,
 161.19,
 48.13,
 149.82999999999998,
 72.75999999999999,
 170.64000000000001,
 97.39999999999999,
 775.5200000000001,
 142.56,
 101.02,
 520.47,
 57.89,
 598.3399999999998,
 616.1,
 143.02,
 63.49,
 185.67,
 463.45000000000005,
 233.70000000000002,
 430.93000000000006,
 72.99000000000001,
 51.79,
 70.38,
 16.19,
 297.92,
 256.39,
 128.04000000000002,
 113.38,
 31.47,
 1161.5700000000002,
 66.24,
 841.2,
 101.28999999999999,
 101.96,
 76.76,
 99.47,
 191.89000000000004,
 19.04,
 1045.7699999999998,
 236.13000000000002,
 133.49,
 355.2,
 205.26999999999998,
 12.06,
 59.220000000000006,
 220.67999999999998,
 460.75999999999993,
 185.2,
 19.439999999999998,
 249.07999999999996,
 104.22999999999999,
 67.28,
 114.34,
 19.78,
 8.93,
 139.4,
 192.03,
 75.62,
 30.18,
 98.96000000000001,
 45.85,
 63.41,
 136.69000000000003,
 629.76,
 264.8,
 76.66,
 21.66,
 246.20999999999998,
 94.23,
 170.33,
 2065.8700000000003,
 139.21,
 312.88,
 186.42,
 15.74,
 99.45,
 285.04999999999995,
 18.16,
 174.26,
 57.97,
 50.88,
 513.13,
 438.6500000000001,
 56.24,
 165.95,
 171.27999999999997,
 127.03,
 227.74,
 33.08,
 33.08,
 149.76,
 198.74,
 2335.94,
 38.05,
 284.46,
 137.16000000000003,
 199.43,
 195.87,
 103.92999999999999,
 221.86,
 104.86,
 147.3,
 460.7199999999999,
 38.0,
 1104.4,
 178.74,
 95.32,
 612.4499999999999,
 122.78,
 50.21000000000001,
 12.200000000000001,
 208.84,
 246.36,
 178.26000000000002,
 55.75,
 138.71,
 455.3,
 164.36,
 172.98,
 72.23,
 364.19,
 76.62,
 162.91000000000003,
 49.35000000000001,
 362.23999999999995,
 2147.46,
 54.15,
 169.89000000000001,
 69.55,
 86.52,
 93.61,
 460.45,
 309.32000000000005,
 511.57,
 16.82,
 122.80000000000001,
 108.53,
 176.2,
 175.40999999999997,
 49.43,
 2368.89,
 31.35,
 11.580000000000002,
 176.43,
 26.32,
 148.79999999999998,
 193.63000000000002,
 731.87,
 449.3299999999999,
 42.76,
 325.79,
 49.91,
 2179.12,
 111.42999999999999,
 595.17,
 337.65,
 178.42000000000002,
 128.72,
 416.45000000000005,
 1146.1299999999999,
 136.71,
 376.85999999999996,
 217.63,
 734.36,
 116.18,
 859.2399999999998,
 212.13000000000002,
 267.21,
 132.58,
 31.020000000000003,
 57.94,
 166.91000000000003,
 164.28999999999996,
 87.47999999999999,
 22.150000000000002,
 273.61,
 166.19,
 236.02,
 221.89000000000001,
 2329.1800000000003,
 116.34,
 310.49,
 100.81,
 721.76,
 162.83,
 186.71,
 220.29000000000002,
 225.86,
 489.3,
 259.76,
 136.8,
 81.44999999999999,
 146.23,
 462.78,
 470.89,
 129.49,
 41.34,
 19.259999999999998,
 173.45999999999998,
 359.51,
 302.08000000000004,
 188.36,
 145.06,
 124.63,
 172.44,
 265.56,
 8.66,
 13.43,
 28.61,
 103.11999999999999,
 324.43,
 62.18000000000001,
 43.61,
 8.71,
 60.540000000000006,
 201.89,
 113.78,
 258.48999999999995,
 316.71,
 40.53,
 116.00999999999999,
 72.9,
 1234.1999999999998,
 161.97,
 2168.09,
 198.66000000000003,
 22.03,
 392.51,
 217.44,
 272.2,
 54.09000000000001,
 227.58,
 127.38,
 227.82999999999998,
 163.73999999999998,
 189.87000000000003,
 281.6,
 1789.5099999999998,
 111.14999999999999,
 159.01999999999998,
 95.46000000000002,
 25.229999999999997,
 274.25,
 137.37,
 100.19999999999997,
 358.09000000000003,
 158.46,
 16.39,
 451.43,
 428.75,
 120.76,
 339.15,
 125.47,
 137.7,
 37.79,
 364.19,
 538.87,
 2132.3799999999997,
 123.44000000000001,
 222.53,
 68.32,
 605.73,
 61.64000000000001,
 74.71,
 329.18,
 159.1,
 61.519999999999996,
 734.05,
 202.64999999999998,
 155.6,
 263.23,
 37.17,
 87.39999999999999,
 127.10000000000001,
 68.76,
 128.09,
 554.25,
 387.87000000000006,
 166.23999999999998,
 318.77,
 254.44,
 1204.9999999999998,
 106.38,
 133.33,
 74.60000000000001,
 83.07,
 390.43,
 98.82000000000001,
 29.669999999999995,
 56.46,
 97.03999999999999,
 328.94,
 58.8,
 26.82,
 231.65,
 367.64,
 116.09,
 313.93,
 518.65,
 508.7700000000001,
 32.86,
 398.47,
 974.47,
 280.15000000000003,
 33.69,
 322.23,
 150.88,
 222.66,
 72.39,
 87.50999999999999,
 184.72,
 173.2,
 82.48,
 216.69000000000003,
 46.19,
 96.96,
 74.53999999999999,
 22.21,
 33.36,
 176.71,
 1253.3799999999999,
 137.63,
 482.5,
 25.15,
 169.45,
 148.25,
 74.34,
 327.32,
 158.46999999999997,
 81.63,
 117.25999999999999,
 512.1400000000001,
 75.72,
 156.15999999999997,
 107.19999999999999,
 73.87,
 788.15,
 315.07,
 32.99,
 377.07,
 374.44,
 28.71,
 150.07999999999998,
 295.53,
 143.68]

In [61]:
d = {
    'Prefecture':pd.Series(citys),
    'value':pd.Series(values)
}
df = pd.DataFrame(d)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Prefecture  414 non-null    object
 1   value       414 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.6+ KB

In [62]:
new_df.head()

  Province Prefecture County  2018_sum
0      安徽省        安庆市    大观区     48.23
1      安徽省        安庆市    怀宁县     14.59
2      安徽省        安庆市    潜山市     12.86
3      安徽省        安庆市    宿松县     13.74
4      安徽省        安庆市    太湖县     12.26

In [63]:
# df.head(50)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Prefecture  414 non-null    object
 1   value       414 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.6+ KB

In [64]:
origin_df = pd.read_excel(r"D:\documents\VIIRS中国各县区灯光数据.xlsx")
origin_df.head()

  Province Prefecture County  Year Month DNvalue
0     省份名称       城市名称   县区名称    年度    月份    DN均值
1      安徽省        安庆市    大观区  2013    01    2.81
2      安徽省        安庆市    大观区  2013    02    2.06
3      安徽省        安庆市    大观区  2013    03    2.17
4      安徽省        安庆市    大观区  2013    04    2.63

In [65]:
origin_df = origin_df.drop([0],axis=0)
origin_df = origin_df.drop(['County','Year','DNvalue','Month'],axis = 1)
origin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240957 entries, 1 to 240957
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Province    240957 non-null  object
 1   Prefecture  240957 non-null  object
dtypes: object(2)
memory usage: 3.7+ MB

In [66]:
origin_df = origin_df.drop_duplicates()

In [67]:
origin_df

       Province Prefecture
1           安徽省        安庆市
851         安徽省        蚌埠市
1446        安徽省        亳州市
1786        安徽省        池州市
2125        安徽省        滁州市
...         ...        ...
239599      重庆市        武隆区
239684      重庆市        永川区
239769      重庆市        渝北区
239854      重庆市        渝中区
239938      重庆市          县

[419 rows x 2 columns]

In [68]:
final_final_data = pd.merge(origin_df,df,on = ['Prefecture'])
final_final_data

    Province Prefecture   value
0        安徽省        安庆市  236.13
1        安徽省        蚌埠市  428.75
2        安徽省        亳州市   85.67
3        安徽省        池州市   49.91
4        安徽省        滁州市  259.76
..       ...        ...     ...
410      重庆市        武隆区   11.58
411      重庆市        永川区   26.32
412      重庆市        渝北区  100.81
413      重庆市        渝中区  310.49
414      重庆市          县  201.74

[415 rows x 3 columns]

In [69]:
final_final_data.dropna()
# final_final_data

    Province Prefecture   value
0        安徽省        安庆市  236.13
1        安徽省        蚌埠市  428.75
2        安徽省        亳州市   85.67
3        安徽省        池州市   49.91
4        安徽省        滁州市  259.76
..       ...        ...     ...
410      重庆市        武隆区   11.58
411      重庆市        永川区   26.32
412      重庆市        渝北区  100.81
413      重庆市        渝中区  310.49
414      重庆市          县  201.74

[415 rows x 3 columns]

In [70]:
final_final_data.to_excel(r'D:\pycharm-python\datasets\final_final_cities_DNvalue.xlsx')